<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
        <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>

    <resultMap id="SpuSaleAttr" type="com.atguigu.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue" autoMapping="true">
            <id column="vid" property="id"/>
        </collection>
    </resultMap>

    <select id="spuSaleAttrList" resultMap="SpuSaleAttr">
        SELECT sa.*,
               sv.id vid,
               sv.`sale_attr_value_name`
        FROM spu_sale_attr sa
                 LEFT JOIN spu_sale_attr_value sv ON sa.`spu_id` = sv.`spu_id` and sa.base_sale_attr_id = sv.base_sale_attr_id
        WHERE sa.spu_id = #{spuId} order by sa.id,sv.id

    </select>
    <select id="spuSaleAttrMarkList" resultMap="SpuSaleAttr">
        SELECT sa.*,
               sv.id vid,
               sv.`sale_attr_value_name`,
               IF(kv.sale_attr_value_id IS NULL,'0','1') AS is_checked
        FROM spu_sale_attr sa
                 LEFT JOIN spu_sale_attr_value sv ON sa.`spu_id` = sv.`spu_id` and sa.base_sale_attr_id = sv.base_sale_attr_id
                 LEFT JOIN sku_sale_attr_value kv ON sv.id = kv.sale_attr_value_id and kv.sku_id = #{skuId}
        WHERE sa.spu_id = #{spuId} order by sa.base_sale_attr_id,sv.id
    </select>
    <select id="getAllSkuSaleAttrValueJson" resultType="com.atguigu.gmall.model.to.ValueSkuJsonTo">
        SELECT
            a.sku_id,
            GROUP_CONCAT(DISTINCT `sale_attr_value_id`
                         ORDER BY `sale_attr_value_id` ASC
                         SEPARATOR '|') AS value_json
        FROM (SELECT
                  si.id sku_id,
                  spav.`base_sale_attr_id`,
                  spav.`sale_attr_name`,
                  skav.`sale_attr_value_id`,
                  spav.`sale_attr_value_name`
              FROM sku_info si
                       LEFT JOIN sku_sale_attr_value skav ON si.id = skav.sku_id
                       LEFT JOIN spu_sale_attr_value spav ON skav.`sale_attr_value_id` = spav.`id`
              WHERE si.spu_id = #{spuId}
              ORDER BY si.`id`,spav.`base_sale_attr_id`, skav.`sale_attr_value_id`) a
        GROUP BY a.sku_id
    </select>
</mapper>
